networks:
  microservices-network:
    driver: bridge

x-common-config: &common-config
  networks:
    - microservices-network

  dns:
    - 8.8.8.8
    - 1.1.1.1

  extra_hosts:
    - "shop.cumpleanos.com.ec:192.168.112.250"

  environment:
    CONFIG_SERVER: ${CONFIG_SERVER}
    EUREKA_SERVER_URL: ${EUREKA_SERVER_URL}
    SPRING_PROFILES_ACTIVE: native
    EUREKA_SERVER_PORT: ${EUREKA_SERVER_PORT}

    ORACLE_URL: ${ORACLE_URL}
    ORACLE_USERNAME: ${ORACLE_USERNAME}
    ORACLE_PASSWORD: ${ORACLE_PASSWORD}

    MONGO_URI: ${MONGO_URI}
    DATA_CLIENTES: ${DATA_CLIENTES}

    MAIL_USERNAME: ${MAIL_USERNAME}
    MAIL_KEY: ${MAIL_KEY}

    WC_URL: ${WC_URL}
    WC_CLIENT: ${WC_CLIENT}
    WC_SECTRET_CLIENT: ${WC_SECTRET_CLIENT}
    WP_USERNAME: ${WP_USERNAME}
    WP_PASSWORD: ${WP_PASSWORD}

    SERVER_IMAGES: ${SERVER_IMAGES}

    CRON_SYNC_PRODUCTS: ${CRON_SYNC_PRODUCTS}
    CRON_SYNC_ORDERS: ${CRON_SYNC_ORDERS}

    META_WEBHOK: ${META_WEBHOK}
    META_API_TOKEN: ${META_API_TOKEN}

    DATA_SAVED_PATH: ${DATA_SAVED_PATH}

  restart: unless-stopped

  logging:
    driver: "json-file"
    options:
      max-size: "10m"
      max-file: "3"

services:

  config-service:
    <<: *common-config
    image: ghcr.io/lchumi/microservicioscumpleanos/config-service
    container_name: config-service
    ports:
      - "8888:8888"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8888/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 10

  eureka-service:
    <<: *common-config
    image: ghcr.io/lchumi/microservicioscumpleanos/eureka-service
    container_name: eureka-service
    ports:
      - "8761:8761"
    depends_on:
      config-service:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8761/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 10

  gateway-service:
    <<: *common-config
    image: ghcr.io/lchumi/microservicioscumpleanos/gateway-service
    container_name: gateway-service
    ports:
      - "8081:8081"
    depends_on:
      eureka-service:
        condition: service_healthy

  adminserver-service:
    <<: *common-config
    image: ghcr.io/lchumi/microservicioscumpleanos/adminserver-service
    container_name: adminserver-service
    ports:
      - "9090:9090"
    depends_on:
      eureka-service:
        condition: service_healthy

  models-service:
    <<: *common-config
    image: ghcr.io/lchumi/microservicioscumpleanos/models-service
    container_name: models-service
    ports:
      - "9091:9091"
    depends_on:
      - gateway-service

  recep-service:
    <<: *common-config
    image: ghcr.io/lchumi/microservicioscumpleanos/recep-service
    container_name: recep-service
    ports:
      - "9093:9093"
    volumes:
      - ./clientes:/app/data/clientes
    depends_on:
      - gateway-service

  pos-service:
    <<: *common-config
    image: ghcr.io/lchumi/microservicioscumpleanos/pos-service
    container_name: pos-service
    ports:
      - "9092:9092"
    volumes:
      - ./data_not_saved:/app/data_not_saved
      - ./logs:/app/logs
    depends_on:
      - gateway-service

  notification-email-service:
    <<: *common-config
    image: ghcr.io/lchumi/microservicioscumpleanos/emails-service
    container_name: notification-email-service
    ports:
      - "8083:8083"
    depends_on:
      - gateway-service

  assist-service:
    <<: *common-config
    image: ghcr.io/lchumi/microservicioscumpleanos/assist-service
    container_name: assist-service
    ports:
      - "9094:9094"
    depends_on:
      - gateway-service

  meta-service:
    <<: *common-config
    image: ghcr.io/lchumi/microservicioscumpleanos/meta-service
    container_name: meta-service
    ports:
      - "8084:8084"
    depends_on:
      - gateway-service

  mongo-service:
    <<: *common-config
    image: ghcr.io/lchumi/microservicioscumpleanos/mongo-service
    container_name: mongo-service
    ports:
      - "9095:9095"
    depends_on:
      - gateway-service

  ecommerce-service:
    <<: *common-config
    image: ghcr.io/lchumi/microservicioscumpleanos/ecommerce-service
    container_name: ecommerce-service
    ports:
      - "8085:8085"
    depends_on:
      - gateway-service

  scheduler-service:
    <<: *common-config
    image: ghcr.io/lchumi/microservicioscumpleanos/scheduler-service
    container_name: scheduler-service
    ports:
      - "8086:8086"
    depends_on:
      - gateway-service

  ws-service:
    <<: *common-config
    image: ghcr.io/lchumi/microservicioscumpleanos/ws-service
    container_name: websocket-service
    ports:
      - "8082:8082"
    depends_on:
      - gateway-service