<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>${titulo}</title>
    <meta name="google" content="notranslate">
</head>
<body style="font-family: Arial, sans-serif; margin: 0; padding: 0; background-color: #f4f4f4;">
<div class="container" style="width: 100%; max-width: 600px; margin: 20px auto; background-color: #ffffff; padding: 20px; border-radius: 8px; box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);">
    <div class="header" style="background-color: #004c6d; color: white; display: flex; justify-content: space-between; align-items: center; padding: 25px 30px; position: relative; overflow: hidden; border-top-left-radius: 8px; border-top-right-radius: 8px;">

        <div class="logo" style="order: -1;">
            <h1 style="font-size: 18px; margin: 0; letter-spacing: 1px;">${titulo}</h1>
        </div>

        <div class="decorative-rombs" style="order: 1; position: relative; display: grid; grid-template-columns: repeat(4, 20px); grid-gap: 10px; opacity: 0.5;">
            <div class="romb color1" style="width: 14px; height: 14px; background-color: #3abee8; transform: rotate(45deg); box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);"></div>
            <div class="romb color2" style="width: 14px; height: 14px; background-color: #b7bfc8; transform: rotate(45deg); box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);"></div>
            <div class="romb color3" style="width: 14px; height: 14px; background-color: #c6e5fb; transform: rotate(45deg); box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);"></div>
            <div class="romb color4" style="width: 14px; height: 14px; background-color: #78c0de; transform: rotate(45deg); box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);"></div>
            <div class="romb color1" style="width: 14px; height: 14px; background-color: #38bfe5; transform: rotate(45deg); box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);"></div>
            <div class="romb color2" style="width: 14px; height: 14px; background-color: #b7bfc8; transform: rotate(45deg); box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);"></div>
            <div class="romb color3" style="width: 14px; height: 14px; background-color: #00aced; transform: rotate(45deg); box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);"></div>
            <div class="romb color4" style="width: 14px; height: 14px; background-color: #38bee8; transform: rotate(45deg); box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);"></div>
        </div>

    </div>

    <div class="content" style="padding: 20px; text-align: center;">
        <p style="color: #666666;">${contenido}</p>
    </div>
    <footer class="footer" style="background-color: #1c1d24; color: #cccccc; font-size: 14px; padding: 20px; text-align: center; border-bottom-left-radius: 8px; border-bottom-right-radius: 8px;">
        <div class="footer-links" style="margin-bottom: 15px;">
            <a href="https://assist.cumpleanos.com.ec/cumpleanos/politica-privacidad" style="color: #cccccc; text-decoration: none; margin: 0 10px; font-size: 12px;">Políticas de privacidad</a>
        </div>

        <div class="footer-info" style="margin-bottom: 10px;">
            <p style="font-size: 10px;">&copy; 2025 Importadora Cumpleaños</p>
            <img src="cid:logoCid" alt="logo" style="width: 20px;">
            <p style="font-size: 10px;">&copy; Assist Web</p>
        </div>

    </footer>

</div>
</body>
</html>
